<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{base::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Forgot</title>
</head>
<body>
	<section>

		<div class="loginbox">
		<div class="container col-md-4 offset-md-4 ">
			<form class="form-signin" method="post" th:action="@{/sendOTP}" action="#">
				<h2 class="form-signin-heading text-center">Forgot Password</h2>
				<div th:if="${session.message}" class="container">
			<div class="alert alert-danger text-center" role="alert">
			<span th:text="${session.message}">  </span>
			</div>
			<th:block th:text="${@sessionHelper.removeMessageFromSession()}"></th:block>
		</div>
				<p>
					 <input
						type="text" id="username" name="email" class="form-control"
						placeholder="Your registered email here" required autofocus>
				</p>
				
				<div class="text-center">
					<button class="btn bg-primary text-white" type="submit">Send OTP</button>
				</div>
			</form>
		</div>
	</div>
	</section>
</body>
</html>