<html xmlns:th="http://www.thymeleaf.org" 
		th:replace="~{userbase::layout(~{::section})}">
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<section>
	<div class="card" th:if="${contact}">
	<div class="card-body">
	<div class="container text-center">
	      <img style="height: 200px; width: 200px;" class="myProfilePicture" alt="" src="" th:src="@{/img/userlogo.jpg}">
		<h3> <span th:text="${contact.name} "></span>  (<span th:text=" ${contact.secondName}"></span>)</h3>
		<table class="table text-center" >
		<thead>
		<tr>
		<th scope="col">ID</th>
		<th scope="col">USER<span th:text="${contact.cId}"></span></th>
		</tr>
		
		</thead>
		<tbody>
		<tr>
		<th scope="col">Email</th>
		<td scope="col"><span th:text="${contact.email}"></span></td>
		</tr>
		<tr>
		<th scope="col">Phone</th>
		<td scope="col"><span th:text="${contact.phone}"></span></td>
		</tr>
		<tr>
		<th scope="col">Work</th>
		<td scope="col"><span th:text="${contact.work}"></span></td>
		</tr>
		
		</tbody>
		
		</table>
		<div class="description text-center">
				<td scope="col"><span th:utext="${contact.description}"></span></td>
		</div>
		<div class="container mt-2">
      <button  th:onclick="|deleteContact(${contact.cId})|" class="btn btn-danger btn-sm ">DELETE </button>
      <form method="post"  th:action="@{'/user/updateContact/'+${contact.cId}}">
      <button type="submit" class="btn btn-block btn-primary btn-sm mt-2">UPDATE </button>
      </form>
      
      
     </div>
	</div>
	</div>
	</div>
	<div>
	<h1 class="text-center bg-danger text-white p-3 " th:unless="${contact}">You don't have access to see this contact....</h1>
	</div>
	</section>
</body>
</html>